@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --backgroundSoftBlue: #242F3E;
    --backgroundDarktBlue: #131921;
}
*{
    margin: 0;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
}
body{
    background-color: rgb(252, 252, 252);
}
h1,h2{
    font-size: 15px;
    font-weight: bold;
}
p{
    margin-bottom: 0;
}
button,
img{
    cursor: pointer;
}
.leaflet-container{
    width: 98.4vw;
    height: 100vh;
}
.btnBuscar{
    border-radius: 1000px;
    background-color: rgb(255, 66, 66);
    border: none;
}