.payment{
    form{
        margin: 0 auto;
        width: 80%;
        input{
            margin: 4% 0;
            width: 100%;
            border-radius: 1000px;
            padding: 5px;
        }
        button{
            margin: 5% 0;
            width: 100%;
            padding: 5px 0;
            background-color: rgb(244, 195, 61);
            border: none;
            border-radius:  1000px;
        }
    }
}